.section-1-a span {
  display: flex;
  width: fit-content;
}

.Header {
  font-size: 1.25rem;
}

.section-1,
.section-4 {
  background-color: #5d6996;
}

.company-logo img {
  width: 15rem;
}

.company-logo {
  background-color: #d8d8d8;
  border: 1.5px solid #c0c0c0;
  border-radius: 8px;
}

.section-1-c {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -4rem;
}

.videobg-img {
  border: 10px solid #6a6a6a;
  border-radius: 5px;
}

.play-icon {
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.section-1-bridge {
  margin-top: 25rem;
}

.product > img {
  width: 5rem;
  margin: auto;
  margin-top: 2rem;
}

.prod-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
  grid-gap: 5px;
}

.prod-grid img {
  margin: auto;
}

.prod-grid p {
  text-align: center;
}

.product {
  border: 0.5px solid rgba(0, 0, 0, 0.05) !important;
}

.feature {
  border: none !important;
}

.features-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.feature img {
  width: 4rem;
  margin: auto;
}

.carousel-item .card img {
  width: 5rem;
  height: 5rem;
  margin: auto;
  margin-bottom: -2rem;
  background: #fff;
  border-radius: 50%;
  object-fit: cover;
}

.collapse-btn {
  font-size: 2rem !important;
  text-decoration: none !important;
  color: black;
}

.carousel-inner {
  width: 50% !important;
  margin: auto;
}

.ending-btn {
  display: block;
  margin: auto;
  padding: 0.75rem 3rem;
  border: none;
  outline: none;
  background: #e25f54;
  color: white;
  outline: none;
}

.mobile-video img,
.mobile-video p {
  display: none;
}

#accordion {
  width: 65%;
}

.collapse-btn {
  transition: 0.25s;
}

#accordion .card-header {
  background-color: #ebebeb;
  padding: 0 !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.collapse .card-body {
  background-color: #f5f5f5;
}

.modal-content {
  /* width: fit-content !important; */
  background-color: transparent !important;
  border: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.close {
  text-shadow: none !important;
  outline: none !important;
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel-inner {
    width: 75% !important;
    margin: auto;
  }

  .videobg-img,
  .play-icon {
    display: none;
  }

  .section-1-bridge {
    margin-top: 10rem;
  }

  .mobile-video img,
  .mobile-video p {
    display: inline;
  }

  .mobile-video {
    cursor: pointer;
  }

  .mobile-video p {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    margin-left: 5px;
  }
  .mobile-video img {
    width: 2rem;
  }
  #accordion {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }

  .company-logo img {
    display: inline;
    margin: auto;
  }

  .section-1-a span {
    display: block !important;
  }

  .company-logo {
    width: fit-content;
    margin: auto;
  }
}
